gradlew
gradlew.bat.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Nexus Artifacts ###
*.zip
*.DS_Store

.scannerwork/
*.sw?
.#*
*#
*~
/classes
/build
/code
.metadata
.recommenders
bin/
build
target
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
.DS_Store
dump.rdb
transaction-logs
out/